<div class="container py-5">
  <div class="row justify-content-center align-item-center">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Account Register</h5>
          <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="name" class="form-label">Name:</label>
              <input type="text" class="form-control" id="name" name="name" formControlName="name">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password:</label>
              <input type="password" class="form-control" id="password" formControlName="password">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input type="email" class="form-control" id="email" formControlName="email">
            </div>
            <div class="mb-3">
              <label for="gender" class="form-label">Gender:</label>
              <select class="form-select" aria-label="Gender select" formControlName="gender">
                <option selected disabled>Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="role" class="form-label">Role:</label>
              <select class="form-select" aria-label="Role select" formControlName="role">
                <option selected disabled>Select Role</option>
                <option value="User">User</option>
                <option value="Technician">Technician</option>
                <option value="Assistant">Assistant</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Signup</button>
            <div class="mt-3 text-end">
              <p>Already have an account? <a routerLink="/login">Login here</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
